$primary-font: 'Open Sans', sans-serif;
$text-color: #484f5b;
$secondary-font-size: 1.31rem;
$primary-font-size: 4.6875rem;

@mixin button-style{
    width: 203px;
    min-width: 150px;
    line-height: 50px;
    font-size: $secondary-font-size;
    color: $text-color;
    font-weight: 700;
    background-color:#ffcccc;
    border: none;
}

@mixin primary-font{
    font-size: $secondary-font-size;
    font-weight: 400;
    color: $text-color;
}









.wrap-2{
    background: url(./Images/wrap2.png) no-repeat center center/cover;
    .inner{
        padding: 175px 0;
        padding-left: 84px;
        margin-left: -20px;
        h2{
            font-size: $primary-font-size;
            margin-top: 4px;
            font-weight: 700;
            color: $text-color
        }
        p{
            margin: 57px 0;
            font-size: $secondary-font-size;
            font-weight: 400;
            color: $text-color;
        }
        .button{
            @include button-style;
        }
    }
}

.wrap-3{
    padding: 80px 156px;
    padding-bottom: 115px;
    div{
        text-align: center;
    }
    .imageDiv{
       display: flex;
       flex-direction: column;
         justify-content: center;
            align-items: center;
           min-height: 229px;
        img{
            max-width: 100%;
            max-height: 100%;
            height: auto;
        }
    }   
    .imageS{
        padding-bottom: 20px;
    }
    h3{
        @include primary-font;
        font-weight: 700;
    }
    p{
        @include primary-font;
    }
}