//header//
@media screen and (max-width: 1180px){
    
    header{
        nav{
            ul{
                margin-right: 0;
                li{
                    margin-right: 10px;
                    margin-left: 10px;
                    padding: 10px;
                }
            }
        }
    }

    .wrap-3{
        padding: 80px 10px;
    }
    .wrap-6{
        padding: 80px 10px;
        .flex1{
            gap: 20px;
            
        }
    }
    .wrap-7{
        .video{
            text-align: center;
            max-width: 100%;
            margin-left: 0 !important;
            padding: 80px 10px;
            img{
                max-width: 100%;
                height: auto;
            }
        }
       
        .video{
            max-width: 100%;
            margin-left: 0 !important;
        }
        .heading{
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 768px){
.col-t-1 { flex: 0 0 8.333333%; max-width: 8.333333%;}
.col-t-2 { flex: 0 0 16.666667%; max-width: 16.666667%;}
.col-t-3 { flex: 0 0 25%; max-width: 25%;}
.col-t-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}
.col-t-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
.col-t-6 { flex: 0 0 50%; max-width: 50%;}
.col-t-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
.col-t-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}
.col-t-9 { flex: 0 0 75%; max-width: 75%;}
.col-t-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
.col-t-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
.col-t-12 { flex: 0 0 100%; max-width: 100%;}
    

.container{
        max-width: 100%;
    }
    header{
        nav{
           .collapse{
            display: none;
           }
        }
    }
    .wrap-1 .inner{
        padding: 50px 0 !important;
    }
    .wrap-2 .inner{
        padding: 50px 0 !important;
        margin-left: 0 !important;
    }
    .wrap-4 .inner{
        padding: 50px 0 !important;
    }
    .wrap-3{
        padding: 50px 10px;
        background-position: center;
        background-size: 100%;
    }
    .wrap-5 .inner{
        padding: 50px 0 !important;
    }
    .wrap-6 {
        padding: 50px 10px !important;
    }
}


@media screen and (max-width:640px) {
.col-p-1 { flex: 0 0 8.333333%; max-width: 8.333333%;}
.col-p-2 { flex: 0 0 16.666667%; max-width: 16.666667%;}
.col-p-3 { flex: 0 0 25%; max-width: 25%;}
.col-p-4 { flex: 0 0 33.333333%; max-width: 33.333333%;}
.col-p-5 { flex: 0 0 41.666667%; max-width: 41.666667%;}
.col-p-6 { flex: 0 0 50%; max-width: 50%;}
.col-p-7 { flex: 0 0 58.333333%; max-width: 58.333333%;}
.col-p-8 { flex: 0 0 66.666667%; max-width: 66.666667%;}
.col-p-9 { flex: 0 0 75%; max-width: 75%;}
.col-p-10 { flex: 0 0 83.333333%; max-width: 83.333333%;}
.col-p-11 { flex: 0 0 91.666667%; max-width: 91.666667%;}
.col-p-12 { flex: 0 0 100%; max-width: 100%;}

.wrap-1 .inner{
    padding: 2rem 0;
}
h2{
    font-size: 2.5rem !important;
}
.wrap-2 .inner{
    padding: 2rem 0;
}
.wrap-3 .flex1{
    flex-flow: row wrap;
    div{
        flex-basis: 100%;
    }
}
.wrap-4 .inner{
    padding: 2rem 0;
}
.button{
    width: 50% !important;
}

.wrap-6 {
    .flex1{
        .gallery{
            max-width: 100%;
            .gallery-image{
                img{
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}
.wrap-7{
  
       
            .shapebutton{
                transform: translate(-50%, -50%) !important;
                width: 10% !important;
            }
    
    
}

}


@media screen and (max-width: 480px){
    header{
        img{
            width: 50%;
            height: auto;
        }
    }
    p{
        font-size: 1.10rem !important;
        margin: 1.5rem 0 !important;
    }


    
    
}