@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.active {
  color: pink;
}

header {
  background-color: #fff;
  line-height: 98px;
}
header .image-header {
  vertical-align: middle;
}
header .burger {
  display: none;
  text-align: right;
  font-size: 3rem;
  color: #efccc6;
}
header nav .collapse ul {
  justify-content: right;
  margin-right: 44px;
}
header nav .collapse ul li {
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  padding: 20px;
}
header nav .collapse ul li a {
  font-size: 1.25rem;
  font-weight: 400;
}
header nav .collapse ul li:hover {
  color: pink;
}
header nav .show {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.header {
  position: relative;
}

.wrap-1 {
  background: url(./Images/backgroundShape.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.wrap-1 .inner {
  padding: 9.375rem 0;
  padding-left: 3rem;
}
.wrap-1 .inner h2 {
  font-size: 4.6875rem;
  font-weight: 700;
  color: #484f5b;
}
.wrap-1 .inner p {
  margin: 66px 0;
  font-size: 1.31rem;
  font-weight: 400;
  color: #484f5b;
}
.wrap-1 .inner .button {
  width: 203px;
  min-width: 150px;
  line-height: 50px;
  font-size: 1.31rem;
  color: #484f5b;
  font-weight: 700;
  background-color: #ffcccc;
  border: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

[class*=col-] {
  padding: 0 10px;
}

.flex1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}

.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}

.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.socialIcons {
  cursor: pointer;
}

.wrap-2 {
  background: url(./Images/wrap2.webp) no-repeat center center/cover;
}
.wrap-2 .inner {
  padding: 175px 0;
  padding-left: 84px;
  margin-left: -20px;
}
.wrap-2 .inner h2 {
  font-size: 4.6875rem;
  margin-top: 4px;
  font-weight: 700;
  color: #484f5b;
}
.wrap-2 .inner p {
  margin: 57px 0;
  font-size: 1.31rem;
  font-weight: 400;
  color: #484f5b;
}
.wrap-2 .inner .button {
  width: 203px;
  min-width: 150px;
  line-height: 50px;
  font-size: 1.31rem;
  color: #484f5b;
  font-weight: 700;
  background-color: #ffcccc;
  border: none;
}

.wrap-3 {
  padding: 80px 156px;
  padding-bottom: 115px;
}
.wrap-3 div {
  text-align: center;
}
.wrap-3 .imageDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 229px;
}
.wrap-3 .imageDiv img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
.wrap-3 .imageS {
  padding-bottom: 20px;
}
.wrap-3 h3 {
  font-size: 1.31rem;
  font-weight: 400;
  color: #484f5b;
  font-weight: 700;
}
.wrap-3 .imagesh3 {
  margin-top: 13px;
}
.wrap-3 .flex p {
  font-size: 1.31rem;
  font-weight: 400;
  color: #484f5b;
}

.wrap-4 {
  background: url(./Images/wrap4.webp) no-repeat center center/cover;
}
.wrap-4 .inner {
  padding: 127px 0 160px 78px;
}
.wrap-4 .inner h2 {
  font-size: 58.33px;
  font-weight: 700;
  color: #484f5b;
}
.wrap-4 .inner p {
  margin-top: 41px;
  margin-bottom: 28px;
  font-size: 1.31rem;
  font-weight: 400;
  color: #484f5b;
}
.wrap-4 .inner .button {
  width: 203px;
  min-width: 150px;
  line-height: 50px;
  font-size: 1.31rem;
  color: #484f5b;
  font-weight: 700;
  background-color: #ffcccc;
  border: none;
}

.wrap-5 {
  background: url(./Images/wrap5.webp) no-repeat center center/cover;
}
.wrap-5 .inner {
  padding: 109px 0 134px 55px;
}
.wrap-5 .inner h2 {
  font-size: 58.33px;
  font-weight: 700;
  color: #484f5b;
}
.wrap-5 .inner p {
  margin-top: 54px;
  margin-bottom: 42px;
  font-size: 1.31rem;
  font-weight: 400;
  color: #484f5b;
}
.wrap-5 .inner .button {
  width: 203px;
  min-width: 150px;
  line-height: 50px;
  font-size: 1.31rem;
  color: #484f5b;
  font-weight: 700;
  background-color: #ffcccc;
  border: none;
}

.wrap-6 {
  padding: 92px;
  text-align: center;
  background: url(./Images/wrap6.webp) no-repeat center center/cover;
}
.wrap-6 .heading h2 {
  font-size: 58.33px;
  font-weight: 700;
  color: #484f5b;
}
.wrap-6 .heading p {
  margin: 45px 0;
  font-size: 1.31rem;
  font-weight: 400;
}
.wrap-6 .flex1 {
  flex-flow: row wrap;
}
.wrap-6 .flex1 .gallery {
  max-width: 350px;
  min-height: 558px;
  box-shadow: 12px 17px 24px 0 rgba(0, 0, 0, 0.1);
}
.wrap-6 .flex1 .gallery .galleryImage img {
  max-width: 100%;
  height: auto;
}
.wrap-6 .flex1 .gallery .gallery-heading {
  background-color: #fff;
  text-align: center;
  padding: 38px 33px;
  color: #484f5b;
}
.wrap-6 .flex1 .gallery .gallery-heading h3 {
  font-size: 33.33px;
  line-height: 33.33px;
  font-weight: 700;
}
.wrap-6 .flex1 .gallery .gallery-heading p {
  margin-top: 30px;
  font-size: 16.67px;
  font-weight: 400;
}

.wrap-7 {
  background-color: #e5ccc6;
}
.wrap-7 .video {
  padding: 156px 0;
  padding-left: 83px;
  position: relative;
}
.wrap-7 .video .videoimg {
  box-shadow: 12.86px 15.32px 43px 0 rgba(0, 0, 0, 0.59);
  max-width: 100%;
}
.wrap-7 .video .shapebutton {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
}
.wrap-7 .heading {
  padding: 168px 0 200px 55px;
}
.wrap-7 .heading h2 {
  font-size: 58.33px;
  font-weight: 700;
  color: #484f5b;
}
.wrap-7 .heading p {
  margin: 48px 0;
  font-size: 1.31rem;
  font-weight: 400;
  color: #484f5b;
}
.wrap-7 .heading .icons {
  gap: 45px;
}

.wrap-8 {
  background: url(./Images/wrap6.webp) no-repeat center center/cover;
  text-align: center;
}
.wrap-8 .heading {
  padding-top: 92px;
}
.wrap-8 .heading h2 {
  font-size: 58.33px;
  font-weight: 700;
  color: #484f5b;
}
.wrap-8 .heading p {
  margin: 50px 0;
  font-size: 1.31rem;
  font-weight: 400;
}
.wrap-8 .inputForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 33px;
}
.wrap-8 .inputForm .input {
  width: 100%;
  background-color: #efefef;
  border: 1.5px solid #999;
  font-weight: 400;
  height: 62px;
  font-size: 1.31rem;
  color: #484f5b;
  padding: 20px 0 20px 40px;
  outline: none;
}
.wrap-8 .inputForm .button {
  width: 203px;
  min-width: 150px;
  line-height: 50px;
  font-size: 1.31rem;
  color: #484f5b;
  font-weight: 700;
  background-color: #ffcccc;
  border: none;
  margin-bottom: 61px;
}
.wrap-8 .inputForm .inputMessage {
  width: 100%;
  background-color: #efefef;
  border: 1.5px solid #999;
  font-weight: 400;
  height: 9.17rem;
  font-size: 1.31rem;
  color: #484f5b;
  padding-top: 20px;
  padding-left: 40px;
  outline: none;
  margin-bottom: 23px;
}

footer {
  background-color: #484f58;
  color: #fff;
}
footer .flex {
  padding: 70px 0 59px 153px;
}
footer .flex .heading1 h4 {
  font-size: 23.31px;
  line-height: 25.31px;
  font-weight: 700;
}
footer .flex .heading1 address p {
  font-size: 16.87px;
  font-weight: 400;
  line-height: 29.53px;
  margin-top: 34px;
  margin-bottom: 39px;
}
footer .flex .heading1 p {
  font-size: 16.87px;
  font-weight: 400;
  line-height: 29.53px;
}
footer .flex .heading2 {
  margin-left: 6rem;
}
footer .flex .heading2 h4 {
  font-size: 16.87px;
  line-height: 25.31px;
  font-weight: 700;
  margin-bottom: 0.2rem;
}
footer .flex .heading2 ul li {
  margin-bottom: 0.1rem;
}
footer .flex .heading2 a {
  font-size: 16.87px;
  line-height: 29.53px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
}
footer .flex .heading3 {
  margin-left: 81px;
}
footer .sideHeading {
  padding: 59px 0 61px 27px;
}
footer .sideHeading .icons {
  display: flex;
  gap: 26px;
  margin-top: 33px;
}
footer .sideHeading .para {
  padding-left: 17px;
  margin-top: 24px;
}
footer .sideHeading .para p {
  font-size: 16.87px;
  line-height: 29.53px;
  font-weight: 400;
}

@media screen and (max-width: 1180px) {
  header nav .collapse ul {
    margin-right: 0;
  }
  header nav .collapse ul li {
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
  }
  .wrap-3 {
    padding: 80px 10px;
  }
  .wrap-6 {
    padding: 80px 10px;
  }
  .wrap-6 .flex1 {
    gap: 20px;
  }
  .wrap-7 .video {
    text-align: center;
    max-width: 100%;
    margin-left: 0 !important;
    padding: 80px 10px;
  }
  .wrap-7 .video img {
    max-width: 100%;
    height: auto;
  }
  .wrap-7 .video {
    max-width: 100%;
    margin-left: 0 !important;
  }
  .wrap-7 .heading {
    padding: 1rem;
  }
  footer .flex {
    padding: 70px 0 59px 52px;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  footer .flex .heading2 {
    margin: 0;
  }
  footer .flex .heading3 {
    margin: 0;
  }
}
@media screen and (max-width: 980px) {
  .col-pc-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  footer .flex {
    padding: 1rem;
    padding-top: 2.5rem;
  }
  footer .sideHeading {
    padding: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .col-t-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-t-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-t-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-t-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-t-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-t-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-t-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-t-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-t-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-t-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-t-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-t-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .container {
    max-width: 100%;
  }
  header nav .collapse {
    display: none;
  }
  header nav .burger {
    display: block;
  }
  header nav .show {
    opacity: 0;
    visibility: hidden;
    top: 98px;
    width: 100%;
    right: 0;
  }
  header nav .show ul {
    background-color: #ffcccc;
    padding: 1rem;
    display: flex;
    align-items: end;
    flex-direction: column;
    flex-direction: column;
  }
  header nav .show ul li {
    padding: 10px;
    margin: 0;
    line-height: 50px;
  }
  header nav .show ul li a {
    font-size: 1.25rem;
  }
  .wrap-1 .inner {
    padding: 50px 0 !important;
  }
  .wrap-2 .inner {
    padding: 50px 0 !important;
    margin-left: 0 !important;
  }
  .wrap-4 .inner {
    padding: 50px 0 !important;
  }
  .wrap-3 {
    padding: 50px 10px;
    background-position: center;
    background-size: 100%;
  }
  .wrap-5 .inner {
    padding: 50px 0 !important;
  }
  .wrap-6 {
    padding: 50px 10px !important;
  }
  .wrap-8 .heading {
    padding-top: 40px;
  }
  .wrap-8 .inputMessage {
    margin-bottom: 0 !important;
  }
  .wrap-8 .button {
    margin-bottom: 1.5rem !important;
  }
}
@media screen and (max-width: 640px) {
  .col-p-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .col-p-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .col-p-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-p-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .col-p-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .col-p-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-p-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }
  .col-p-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .col-p-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-p-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .col-p-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .col-p-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .wrap-1 .inner {
    padding: 2rem 0;
  }
  h2 {
    font-size: 2.5rem !important;
  }
  .wrap-2 .inner {
    padding: 2rem 0;
  }
  .wrap-3 .flex1 {
    flex-flow: row wrap;
  }
  .wrap-3 .flex1 div {
    flex-basis: 100%;
  }
  .wrap-4 .inner {
    padding: 2rem 0;
  }
  .button {
    width: 50% !important;
  }
  .wrap-6 .flex1 .gallery {
    max-width: 100%;
  }
  .wrap-6 .flex1 .gallery .gallery-image img {
    max-width: 100%;
    height: auto;
  }
  .wrap-7 .shapebutton {
    transform: translate(-50%, -50%) !important;
    width: 10% !important;
  }
}
@media screen and (max-width: 480px) {
  header img {
    width: 50%;
    height: auto;
  }
  p {
    font-size: 1.1rem !important;
    margin: 1.5rem 0 !important;
  }
  footer .flex {
    padding: 0 !important;
    padding-top: 4rem !important;
    justify-content: space-between;
    flex-flow: row wrap;
    gap: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
